fastapi>=0.100.0
git+https://github.com/langchain-ai/langserve.git@main
langchain>=0.1.0,<0.2.0
langchain-community>=0.1.0,<0.2.0
openai>=0.27.0
python-dotenv>=1.0.0
uvicorn[standard]>=0.22.0
elasticsearch>=8.0.0
sqlalchemy>=2.0.0
sse_starlette>=0.1.3
httpx==0.27.0
pydantic>=1.10,<3.0
